*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
}
nav img{
    margin: 1%;
    width: 3%;
}
nav a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    margin:5%;
    color: #222;
}
.link{
    display:flex;
}
nav .link{
    margin-left: 60%;
    align-items: center;
}
nav a:hover{
    color: purple;
}

header{
    display: flex;
    background-image: url(/static/modern-desktop-background-geometric-blue-design-vector/v1016-b-09.jpg);
    background-size: 100%;
}
header .welcome{
    margin-top: 13%;
    margin-left:3%;
    font-size: 21px;
}
#welcome{
    color: #CCCCCC;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
span{
    color: rgb(0,0,27);
}
.imagePerfil{
    /* box-shadow: 5px 5px 5px 5px rgb(0,0,0,0.5); */
    float: right;
    width: 20%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 3%;
    border: 4px solid rgb(0,0,27);
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.imagePerfil:hover{
    transform:translateY(-20px)
}

.icon{
    width: 10%;
}

.sectionSkill{
    margin-left: 2%;
    margin-right: 2%;
}
.skills{
    display: flex;
}
.skills div{
    margin: 5%;
    padding: 2%;
    border-radius: 50%;
    background-color: #222;
    color: #CCCCCC;
    font-weight: bold;
}
.sectionProject{
    margin-left: 2%;
    margin-right: 2%;
}
.boxs{
    display: flex;
    margin: 1%;
}
.box{
    margin-top: 0;
    border-left: 4px solid purple;
    border-top: 4px solid black;
}
.boxs img{
    width: 50%;
    height: 50%;
}