*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: #962afa;
    background-image: url(/static/modern-desktop-background-geometric-blue-design-vector/v1016-b-09.jpg);
    background-size: 100%;
}
nav{
    display: flex;
}
nav img{
    margin: 1%;
    margin-right: 50%;
    width: 4%;
}
nav a{
    text-decoration: none;
    margin: 2%;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover{
    color: #CCCCCC;
}

header{
    display: flex;
}
header .welcome{
    margin-top: 13%;
    margin-left:3%;
    font-size: 21px;
}
#welcome{
    color: #CCCCCC;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);

}
span{
    color: rgb(0,0,27);
}
.imagePerfil{
    /* box-shadow: 5px 5px 5px 5px rgb(0,0,0,0.5); */
    float: right;
    width: 20%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 3%;
    border: 4px solid rgb(0,0,27);
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.imagePerfil:hover{
    transform:translateY(-20px)
}
.servico{
    display: flex;
    margin: 2%;
}
.servico h2{
    color: rgb(0,0,27);
    text-align: center;
}

.caixa1{
    border:2px solid #333;
    padding: 1%;
    margin-right: 2%;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.caixa1:hover{
    padding: 2%;
}
.caixa2{
    border:2px solid #333;
    padding: 1%;
    margin-right: 2%;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.caixa2:hover{
    padding: 2%;
}
.caixa3{
    border:2px solid #333;
    padding: 1%;
    margin-right: 2%;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.caixa3:hover{
    padding: 2%;
}
.icon{
    width: 10%;
}